@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Inter&family=Josefin+Sans:wght@300;400;700&family=Poppins:wght@400;600;700&display=swap");
:root {
  font-size: 10px;
}

a {
  text-decoration: none;
}

body {
  border: solid 10px #ffffff;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(images/bg-pic-1.svg);
  background-color: 0;
}

.header-main__src {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-main__src h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.8rem;
  line-height: 2.6rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}
.header-main__src h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.2rem;
  color: #ffffff;
  line-height: 2.6rem;
}
.header-main__src p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 2.6rem;
}

.header-main__disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}

.header-main__src-bar {
  display: flex;
  height: 70px;
  max-width: 503px;
  width: 100%;
  border: 1px solid white;
  padding: 1px 0;
  background: white;
  margin-bottom: 108px;
}
.header-main__src-bar input {
  border: none;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
.header-main__src-bar ::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: #999999;
}
.header-main__src-bar button {
  color: white;
  font-family: aleo;
  font-size: 14px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  background: #5474fd;
  border-color: #5474fd;
  outline: none;
  padding: 0 23px;
}
.header-main__src-bar span {
  margin-left: 10px;
}

.centered-wrapper {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  background-size: auto;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main_scroller {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 30;
  left: 0;
  right: 0;
  color: white;
}

.nav-styler {
  padding: 30px 0;
  background-color: #5474fd;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.nav-styler ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  font-family: "Aleo";
  color: white;
  font-size: 14px;
  line-height: 26px;
}
.nav-styler h5 {
  font-size: 2.4rem;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
}

.article-main__bg-pic {
  background-image: url(images/bgbg.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-size: auto;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.article-main__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  padding-left: 10%;
  gap: 50px;
  padding-bottom: 40px;
  padding-top: 50px;
}
.article-main__text h1 {
  font-family: "Aleo", serif;
  font-size: 3.6rem;
  color: #ffffff;
  line-height: 26px;
}
.article-main__text p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 26px;
  max-width: 56rem;
}
.article-main__text button {
  color: white;
  font-family: aleo;
  font-size: 14px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  background: #5474fd;
  border-color: #5474fd;
  outline: none;
  padding: 20px;
  max-width: 22rem;
}
.article-main__pic {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 35rem;
  margin-left: 16rem;
  padding-bottom: 50px;
}
.article-main__pic--first {
  margin-left: -87px;
  margin-bottom: 10px;
}

.site-breakdowner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #333333;
}
.site-breakdowner p {
  font-size: 36px;
  font-family: "Aleo", serif;
  color: #ffffff;
  line-height: 26px;
  text-decoration: none;
  padding-top: 19px;
}
.site-breakdowner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-section {
  background-image: url(images/bg-pic-3.svg);
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  background-size: auto;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-section h6 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 26px;
  padding-bottom: 23px;
}
.section-section h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 26px;
  padding-bottom: 13px;
}
.section-section p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  max-width: 508px;
  padding-bottom: 45px;
}
.section-section button {
  color: white;
  font-family: aleo;
  font-size: 14px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  background: #5474fd;
  border-color: #5474fd;
  outline: none;
  padding: 20px 60px;
  max-width: 22rem;
}
.section-section__borderinv {
  border: solid 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(23, 23, 23, 0.8);
  padding-left: 30px;
  padding-bottom: 50px;
  padding-top: 47px;
  transform: translatex(-272px);
}

.section-section2 {
  background-image: url(images/gb-pic-4.png);
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  background-size: auto;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-section2 h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 26px;
  padding-bottom: 13px;
}
.section-section2 h6 {
  color: white;
  font-family: "Josef Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
.section-section2 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  max-width: 508px;
  padding-bottom: 45px;
}
.section-section2 button {
  color: white;
  font-family: aleo;
  font-size: 14px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  background: #5474fd;
  border-color: #5474fd;
  outline: none;
  padding: 20px 60px;
  max-width: 22rem;
}
.section-section2__borderinv {
  border: solid 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(23, 23, 23, 0.8);
  padding-left: 30px;
  padding-bottom: 50px;
  padding-top: 47px;
  transform: translatex(272px);
}

.aside-main {
  padding-bottom: 20rem;
  background-image: url(images/bg-man.jpg);
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  background-size: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aside-main__title {
  padding: 12rem 0 9rem 0;
}
.aside-main__title h1 {
  font-family: "Aleo", serif;
  font-size: 3.6rem;
  color: #ffffff;
  line-height: 26px;
}
.aside-main__description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: solid 1px rgba(0, 0, 0, 0.3);
  background-color: rgb(33, 33, 33);
}
.aside-main__description h2 {
  padding-bottom: 1rem;
  padding-left: 6rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #fefefe;
}
.aside-main__description p {
  padding-left: 6rem;
  font-family: "Aleo", serif;
  font-size: 16px;
  color: #e8e8e8;
  line-height: 25px;
  max-width: 580px;
}

.footer-main {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.footer-main__bg {
  padding: 8rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-main__bg h1 {
  padding-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  line-height: 26px;
}
.footer-main__bg h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.footer-main__img {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-main__img p {
  font-family: "Aleo", serif;
  font-size: 16px;
  color: #5474fd;
}
